<div class="test-fsm" [class.test-fsm--active]="state.currentState === states.START">
  <h1>{{state.currentState}}</h1>

  <code>
    Context: {{state | json}}
  </code>

  <div class="test-fsm__list">
      <app-test-comment *ngFor="let item of state.context.items; let first = first"  [class.first-item]="first" [comment]="item" (onSelect)="handleSelect()">ng-content HERE</app-test-comment>
  </div>

  <div [ngSwitch]="state.currentState">
      <!-- need to use enums here -->
    <div *ngSwitchCase="states.START">
      <button (click)="handleClick()">SUBMIT</button>
    </div>
  </div>

  <button class="btn" (click)="handleReset()">RESET</button>
</div>


