<div class="test-fsm" [class.test-fsm--active]="submitVisible">
  <h1>{{state.currentState}}</h1>

  <code>
    {{state | json}}
  </code>

  <div class="test-fsm__list">
      <app-test-comment *ngFor="let item of state.context.items; let first = first"  [class.first-item]="first" [comment]="item" (onSelect)="handleSelect()"></app-test-comment>
  </div>

  <div [ngSwitch]="state.currentState">
    <div *ngSwitchCase="'START'"> need to use enums here
      <button (click)="handleClick()">SUBMIT</button>
    </div>
  </div>
  
  <button (click)="handleReset()">RESET</button>
</div>


